
.card-container{
    background-color: rgb(255, 250, 250);
    padding-top: 3%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    text-align: left;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
    box-shadow: 1px 2px rgb(182, 182, 182);
}
.card:hover{
    box-shadow: 2px 4px rgb(182, 182, 182);
}
.card-body{
    padding-top: 5px;
    display: flex;
}
.user-image img{
    width:60px;
    height: 60px;
    padding:5px;
    border-radius: 50%;
}
.user-details{
    padding-left: 10px;
}
.textdet{
    color:grey;
    line-height: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}